<div class="show-photo">
  <a href="/photos/<%= photo.id %>"><img src="<%= photo.url %>"></a>

  <div class="photo-title">
    <div><%= photo.title %></div>
    <% if photo.user_id == current_user.id %>
      <a class="edit" href="/photos/<%= photo.id %>/edit">Edit Title</a>
      <div class="delete">
        <form class="delete-form" action="/photos/<%= photo.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete">
        </form>
      </div>
    <% end %>
  </div>

  <div class="photo-user">
    Posted by: <a href="/user/<%= photo.user.id %>"><%= photo.user.name %></a>
  </div>

  <div class="like-count">
    This photo has <span><%= photo.users_liked.count %></span> likes.
  </div>

  <div class="like-button">
    <form class="like" action="/like" method="post">
      <input type="hidden" name="photo_id" value="<%= photo.id %>">
      <input type="submit" value="Like!">
    </form>
  </div>

</div>
